<id><%= run.instance %></id>
<title><%= run.name %></title>
<workflow><%= run.workflow %></workflow>
<description><%= run.description %></description>
<author><%= run.username %></author>
<status><%= run.state %></status>
