<id><%= workflow.uuid %></id>
<title><%= workflow.title %></title>
<name><%= workflow.name %></name>
<description><%= workflow.description %></description>
<author><%= workflow.author %></author>
<publishedtime><%= workflow.created_at.iso8601 %></publishedtime>
<updatedtime><%= workflow.updated_at.iso8601 %></updatedtime>
